<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng Nhập</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--    <link rel="stylesheet" th:href="@{/layout-css/background.css}">-->
    <link rel="stylesheet" th:href="@{/layout-css/Login.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--    <link rel="icon" href="https://scontent.fsgn2-6.fna.fbcdn.net/v/t31.18172-8/23845860_772165502975647_429716032553466353_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHtw3MF8oJV6xJsvfdqyhjVVZi2a0AiECZVmLZrQCIQJrt-ANlMllgB9IakOUrLyhv09u6p6tEjGNLK9kp1W6nV&_nc_ohc=DJ4hxa6m1o8Q7kNvgFQ-PK_&_nc_ht=scontent.fsgn2-6.fna&oh=00_AYBkRaPwE3miBKJ2836ZIiZdLpy-PDZye2460uWtyhZQoQ&oe=669286E5">-->

</head>

<body>
<div class="container">
    <div class="left-section">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img th:src="@{/images/bannerCaPhe.png}" alt="" class="img-fluid">
            </div>

        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <div class="right-section">
        <div class="login-container">
            <form class="login-form">
                <h2 class="login-title"><i class="fas fa-user-circle"></i> Login</h2>
                <div class="form-control">
                    <i class="fas fa-user icon"></i>
                    <input type="text" placeholder="Username" id="username">
                </div>
                <div id="usernameError"></div>
                <div class="form-control">
                    <i class="fas fa-lock icon"></i>
                    <input type="password" placeholder="Password" id="password" >
                </div>
                <div id="passwordError"></div>
<!--                <div class="remember-me">-->
<!--                    <input type="checkbox" id="rememberMe" class="checkbox-input">-->
<!--                    <span class="checkbox-custom"></span>-->
<!--                    <label for="rememberMe">Remember me</label>-->
<!--                </div>-->
                <div class="social-login">
                    <i class="fab fa-google social-icon"></i>
                    <i class="fab fa-facebook-f social-icon"></i>
                    <i class="fab fa-twitter social-icon"></i>
                </div>
                <button type="button" onclick="btnLogin_click ()">Login</button>
            </form>
        </div>
    </div>
</div>
    </div>
</div>
</div>
<script type="application/ecmascript">
    function btnShowPassword(){
        let element = $(`#password`)
        let toggle = $(`#toggleShowPassword`)
        if (element.prop('type') === 'password') {
            element.prop('type', 'text')
            toggle.removeClass('fa-solid fa-eye-slash').addClass('fa-solid fa-eye')
        } else {
            element.prop('type', 'password')
            toggle.removeClass('fa-solid fa-eye').addClass('fa-solid fa-eye-slash')
        }
    }

    async function btnLogin_click () {
        if(!validateFormUserName()){
            return;
        }
        if(!validateFormPassWord()){
            return;
        }
        let userLogin = {
            account: document.getElementById('username').value,
            password: document.getElementById('password').value,
            isStaff:false
        }
        let response = await axios.post('/staff-api/login', userLogin);
        if(response.data.isStaff){
            window.location.href = '/admin'
        }else {
            window.location.href = '/Home'
        }
        if(response.data.status){
            Swal.fire({
                position: "center",
                icon: "success",
                title: "Đăng Nhập Thành Công",
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                localStorage.setItem('account', userLogin.account)
                // window.location.href='/admin'
            });
        } else {
            Swal.fire({
                position: "center",
                icon: "error",
                title: "Đăng nhập thất bại",
                showConfirmButton: false,
                timer: 1500
            });
        }
    }
    validateFormUserName = () =>{
        if(!$("#username").val()){
            $("#usernameError").text("Vui lòng nhập tài khoản!");
            return false;
        }else{
            $("#usernameError").text("");
        }
        return true;
    }
    validateFormPassWord = () =>{
        if (!$("#password").val()){
            $("#passwordError").text("Vui lòng nhập mật khẩu!");
            return false;
        }else{
            $("#passwordError").text("");
        }
        return true;
    }
</script>
<!--<script th:src="@{/Layout-js/showpass.js}"></script>-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</body>
</html>
